<?xml version="1.0"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        cacheResultFile="cache/phpunit/phpunit.result.cache"
        forceCoversAnnotation="true"
        colors="true"
        verbose="true">

  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">src/*/src</directory>
    </include>
    <report>
      <clover outputFile="tests-results/phpunit/clover.xml"/>
      <html outputDirectory="tests-results/phpunit/coverage-html"/>
      <xml outputDirectory="tests-results/phpunit/coverage-xml"/>
    </report>
  </coverage>

  <logging>
    <junit outputFile="tests-results/phpunit/junit.xml"/>
  </logging>

  <testsuites>
    <testsuite name="Assertion Tests">
      <directory>src/Assertion/tests</directory>
    </testsuite>
    <testsuite name="Collection Tests">
      <directory>src/Collection/tests</directory>
    </testsuite>
    <testsuite name="Comparator Tests">
      <directory>src/Comparator/tests</directory>
    </testsuite>
    <testsuite name="Equality Tests">
      <directory>src/Equality/tests</directory>
    </testsuite>
    <testsuite name="Float Tests">
      <directory>src/Float/tests</directory>
    </testsuite>
    <testsuite name="Type Tests">
      <directory>src/Type/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
