<?xml version="1.0"?>
<phpunit 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" 
        bootstrap="vendor/autoload.php" 
        colors="true" 
        cacheDirectory="cache/phpunit/" 
        requireCoverageMetadata="true">
  <coverage>
    <report>
      <clover outputFile="tests-results/phpunit/clover.xml"/>
      <html outputDirectory="tests-results/phpunit/coverage-html"/>
      <xml outputDirectory="tests-results/phpunit/coverage-xml"/>
    </report>
  </coverage>
  <logging>
    <junit outputFile="tests-results/phpunit/junit.xml"/>
  </logging>
  <testsuites>
    <testsuite name="Assertion Tests">
      <directory>tests/Assertion</directory>
    </testsuite>
    <testsuite name="Check Tests">
      <directory>tests/Check</directory>
    </testsuite>
    <testsuite name="Collection Tests">
      <directory>tests/Collection</directory>
    </testsuite>
    <testsuite name="Comparator Tests">
      <directory>tests/Comparator</directory>
    </testsuite>
    <testsuite name="Dispatcher Tests">
      <directory>tests/Dispatcher</directory>
    </testsuite>
    <testsuite name="Equality Tests">
      <directory>tests/Equality</directory>
    </testsuite>
    <testsuite name="Float Tests">
      <directory>tests/Float</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
